<ion-header>
  <ion-toolbar>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Productos Disponibles</h1>
  
  <!-- Dropdown para Categorías -->
  <ion-item>
    <ion-label>Categoría</ion-label>
    <ion-select placeholder="Selecciona una categoría">
      <ion-select-option value="all">Todos</ion-select-option>
      <ion-select-option value="ropa">Ropa</ion-select-option>
      <ion-select-option value="zapatos">Zapatos</ion-select-option>
      <ion-select-option value="accesorios">Accesorios</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Lista de Productos -->
  <ion-list>
    <ion-item *ngFor="let producto of productos">
      <ion-thumbnail slot="start">
        <ion-img [src]="getImagenPath(producto.imagen)" alt="{{ producto.nombre }}"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>{{ producto.nombre }}</h2>
        <p>{{ producto.descripcion }}</p>
        <ion-button class="custom-button" expand="full" (click)="agregarAlCarro(producto)">Agregar al Carro</ion-button>
      </ion-label>
    </ion-item>
  </ion-list>
  
  <!-- Botones de navegación -->
  <ion-button class="custom-button" expand="full" routerLink="/home">Volver a Home</ion-button>
  <ion-button class="custom-button" expand="full" routerLink="/cart">Ir al Carro de Compras</ion-button>

  <!-- Toast para mostrar mensajes -->
  <ion-toast
    [message]="toastMessage"
    [duration]="toastDuration"
    [isOpen]="isToastOpen"
    (ionToastDidDismiss)="isToastOpen = false">
  </ion-toast>
</ion-content>
