<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1 class="fade-in-out">Bienvenido a la Tienda de Ropa</h1>

  <div class="auth-buttons">
    <ion-button expand="full" routerLink="/login">Iniciar Sesión</ion-button>
    <ion-button expand="full" routerLink="/create-user">Crear Usuario</ion-button>
  </div>

  <div class="product-buttons">
    <ion-button expand="full" routerLink="/products">Ver Productos</ion-button>
    <ion-button expand="full" routerLink="/cart">Ir al Carro de Compras</ion-button>
    <ion-button expand="full" routerLink="/login">Cerrar Sesión</ion-button>
  </div>
</ion-content>
 